<template>
  <div class="login">
    <h1 class="title">Login</h1>
    <form action class="form" @submit.prevent="login">
      <label class="form-label" for="#email">Email:</label>
      <input
        v-model="user.username"
        class="form-input"
        type="email"
        id="username"
        required
        placeholder="Email"
      />
      <label class="form-label" for="#password">Password:</label>
      <input
        v-model="user.password"
        class="form-input"
        type="password"
        id="password"
        placeholder="Password"
      />
      <p v-if="error" class="error">Correo o contraseña incorrectos.</p>
      <input class="form-submit" type="submit" value="Login" />
    </form>
  </div>
</template>

<script>
import AuthService from "../../services/AuthService";
export default {
  data: () => ({
    user: {
      username: "",
      password: "",
    },
    error: false,
  }),
  methods: {
    login() {
      AuthService.authenticate(this.user)
        .then((response) => {
          console.log(response.data.value.token);
          var loggedUser = {
            email: this.user.username,
            token: response.data.value.token,
          };
          AuthService.setUserLogged(loggedUser);
          console.log(JSON.parse(AuthService.getUserLogged()));
          this.$router.push("/");
        })
        .catch((error) => {
          this.error = true;
          console.error(error);
        });
    },
  }
};
</script>

<style lang="scss" scoped>
.login {
  padding: 2rem;
}
.title {
  text-align: center;
}
.form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 350px;
  max-width: 100%;
  background: rgba(19, 35, 47, 0.9);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.form-label {
  margin-top: 2rem;
  color: white;
  margin-bottom: 0.5rem;
  &:first-of-type {
    margin-top: 0rem;
  }
}
.form-input {
  padding: 10px 15px;
  background: none;
  background-image: none;
  border: 1px solid white;
  color: white;
  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
}
.form-submit {
  background: #1ab188;
  border: none;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #0b9185;
  }
}
</style>